html, body {
    font-size: 20;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(0, 180, 200);
}

head {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 10vh;
    color: white;
    text-shadow: 2px 2px purple, -2px -2px indianred;
}

h2 {
    font-size: 5vh;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: -5vh;
    font-size: 3vh;
}

button {
    color: rgb(0, 180, 200);;
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vh;
    padding: 3vw 10vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 10vh;
    left: 50vw;
    transform: translate(-50%, -10%);
    width: 100%;
}

span {
    font-size: 7vh;
}

#adjective {
    color: greenyellow;
}

#number {
    color: violet;
}